<div class="container">
<h2>スケジュール一覧</h2>
<% if flash[:notice] %>
 <p class="notice"><%= flash[:notice] %></p>
<% end %>
<table class="index">
  <thead>
    <tr>
      <th>ID</th>
      <th>タイトル</th>
      <th>開始日</th>
      <th>終了日</th>
      <th>終日</th>
      <th>スケジュール更新日時</th>
      <th>確認</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.title %></td>
      <td><%= user.start.strftime("%Y年%m月%d日") %></td>
      <td><%= user.end_day.strftime("%Y年%m月%d日") %></td>
      <td>
        <% if user.all_day == 1 then %>◯
        <% end %>
      </td>
      <td><%= user.updated_at.to_s(:datetime_jp) %></td>
      <td><%= link_to "確認", "/users/#{user.id}" %></td>
      <td><%= link_to "編集", "/users/#{user.id}/edit" %></td>
      <td><%= link_to "削除", "/users/#{user.id}", data: {turbo_method: :delete} %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to "スケジュール新規登録", :new_user %>
</div>
<footer>
  <h1>現在の日時 : <%= Date.current.strftime('%Y年%m月%d日') %> 　スケジュール合計 : <%= @length %></h1>
</footer>
