<div class="container">
  <h2>スケジュール新規作成</h2>
  <% if flash[:notice_fail] %>
  <p class="notice_submit"><%= flash[:notice_fail] %></p>
  <% end %>
  <%= render "shared/error", obj: @user %>
  <%= form_with model: @user do |f| %>
  <table>
    <tr>
      <th><%= f.label :title, "タイトル" %></th>
      <td><%= f.text_field :title %></td>
    </tr>
    <tr>
      <th><%= f.label :start,"開始日" %></th>
      <td><%= f.date_field :start %></td>
    </tr>
    <tr>
      <th><%= f.label :end_day, "終了日"%></th>
      <td><%= f.date_field :end_day %></td>
    </tr>
    <tr>
      <th><%= f.label :all_day, "終日"%></th>
      <td><%= f.check_box :all_day %><br>終日の場合はチェックを入れます</td>
    </tr>
    <tr>
      <th><%= f.label :memo ,"スケジュールメモ" %></th>
      <td><%= f.text_area :memo %></td>
    </tr>
  </table>
  <div>
    <ul>
      <li><%= f.submit "スケジュールを新規登録する"%></li>
      <li><%= link_to "スケジュール一覧に戻る", :users %></li>
    </ul>
  </div>
  <% end %>
</div>
<footer>
  <h1>現在の日時 : <%= Date.current.strftime('%Y年%m月%d日') %></h1>
</footer>